.container {
  
  & .address-header{
    margin-left: auto;
  }
}

.address-header {

  display: flex;
  font-style: normal;
  align-items: center;
  justify-content: center;   
  margin-left: auto;

  // @media screen and (max-width: $mobile-max-width) {
  //   padding-bottom: 60px; 
  // }

  @media screen and (min-width: $tablet-width){ 

    & .item:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.address-header {
  
    & .link {
      display: flex;
      align-items: center;
      justify-content: center;
      color: $text-color;
      padding-top: 16px;
      padding-bottom: 16px;
      padding-left: 0;
      padding-right: 0;

      // font-weight: 500;
      // font-size: 18px;
      // line-height: 1.16;
      // letter-spacing: 0.02em;
      
      transition-property: color;
      transition-duration: $duration;
      transition-timing-function: $timing;

          &:not(:last-child) {
            margin-bottom: 10px;
          }

      @media screen and(min-width: $tablet-width){
          margin-left: 84px;          
          padding: 0;
          margin-bottom: 10px;

          // &:not(:last-child) {
          //   margin-left: 84px;
          // }
        }
      }

      &:hover, &:focus {
        color: $accent-color;    
    }

    @media screen and (max-width:$mobile-max-width){
      font-weight: 500;
      font-size: 18px;
      line-height: 1.16;
      letter-spacing: 0.02em;
    }

    @media screen and (min-width: $desctop-width){
      margin-left: auto;          
      padding: 0;
      // margin-bottom: 10px;

      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
}

.list-address {
  // display: flex;
  font-style: normal;
  align-items: baseline;
  justify-content: center;
  
    

    @media screen and (min-width: $tablet-width) {
      // display:flex;
      // padding: 0;
      // margin: 0;

      display: flex;
      padding: 0;
      justify-content: space-between;
      flex-wrap: wrap;
      margin: 0;

      // & .item:not(:last-child) {
      //   margin-right: 50px;
      // }
    }

    // @media screen and (max-width: $desctop-width) and (min-width: $tablet-width){
    //   margin-top: 21px;
    // }
}

.list-address {
  & .mail:hover, .mail:focus,
  & .tel:hover , .tel:focus {
    color: $accent-color
  }
}

%iconAddress {

  display: inline-flex;
  align-items: center;
  margin-right: 10px; 
  fill: currentColor;
}

.mailHeader {  
  @extend %iconAddress;
  width: 16px;
  height: 12px;  

    &:hover, &:focus {
      color: $accent-color;
    }
}

.telHeader {
  @extend %iconAddress;
  width: 10px;
  height: 16px;

    &:hover, &:focus {
      color: $accent-color;
    }
}

